.App {
    padding: 0 8%;
    background: #FFFFFF;
    margin: 44px 0;
}

.App .rsc{
    margin: 0 auto;
    width: 60%;
}



.App .rsc-ts-bubble{
    border-radius: 0;
    font-family: "Graphik LC";
}





.App .rsc-header{
    justify-content: center;

}

.App .rsc-header-title{
    font-family: Druk Text Cy;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
}

@font-face {
    font-family: "Druk Text Cy";
    src: url("fonts/Druk/DrukTextCy-Medium-App.ttf"),
    url("fonts/Druk/DrukTextCy-Medium-Desktop.otf"),
    url("fonts/Druk/DrukTextCy-Medium-TrueType.ttf")
}

@font-face {
    font-family: "Graphik LC";
    src: url("fonts/Graphik/Graphik-Medium-Desktop.otf"),
    url("fonts/Graphik/GraphikLC-Bold-Desktop.otf"),
    url("fonts/Graphik/GraphikLC-Bold-Desktop.otf")
}

@media (min-width: 810px) {
    .App {margin-bottom: 84px;}
}

.answerSuggestion {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;

    background: #02BAE8;

    font-family: Graphik LC;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;


    /* Primary/White */

    color: #FFFFFF;
}

.answerSuggestion:hover {
    background: #0ACEFF;
}

.answerSuggestions {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-content: center;
    justify-content: flex-start;

    padding-top: 10px;

}